.posts {
    padding: 10px;
}
.textarea {
    padding: 5px;
    resize: none;
}
.textarea:focus {
    resize: none;
    padding: 5px;
}

.button {
    margin: 10px 0 15px;
    padding: 10px 15px;
    background: none;
    border: 1px solid black;
    cursor: pointer;
}