
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.header img {
    height: 60px;
}
.loginWrapper {
    display: flex;
    padding: 5px;
    align-items: center;
}
.login {
    margin-right: 15px;
}
.avatar {
    border-radius: 50%;
}
.avatar:hover {
    cursor: pointer;
}
