.nav {
    grid-area: n;
    /*background: navajowhite;*/
}
.item {
    margin-bottom: 5px;
}

.item:hover {
    font-size: 17px;
}
.active {
    text-decoration: underline;
    color: cornflowerblue;
}