.item {
    margin-top: 25px;
    color: black;
    display: flex;
    align-items: center;
}
.avatar {

}
.avatar img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.comment {
    margin-left: 15px;
}