.wrapper {
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 30px
}
.input {
    padding: 10px 15px;
    margin-bottom: 10px;
}
.button {
    padding: 10px 15px;
    border: 1px solid grey;
    background: none;
}
.button:hover {
    cursor: pointer;
}
.checkbox {
    margin-right: 5px;
}
.checkbox:hover {
    cursor: pointer;
}
.bottomWrapper {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.bottomWrapper label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}