*, a:visited, li {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body {
    background: rgba(0, 0, 0, 0.1);
}

.container {
    margin-bottom: 10px;
    box-shadow: grey 0 1px 3px;
    background: white;
}

.app-wrapper {
    width: 1200px;
    padding: 5px;
    margin: 0 auto;
    grid-template-areas:
            "n c";
    display: grid;
    grid-template-columns: 1fr 10fr;
    /*grid-gap: 10px;*/
}
.app-wrapper-content {
    grid-area: c;
    background: white;
    border-radius: 10px;
    box-shadow: grey 0 0 3px;
}
